* {
  font-family: "Courier New", Courier, monospace;
}


  
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
 
   
  }
  

  
/*animacion title */  
 svg {
  height: 100px;
 } 
  svg text {

    letter-spacing: 10px;
    stroke: #f7e5f3;
    font-size: 30px;
    font-weight: 50;
    stroke-width: 3;
    
  
    
  }
  



/* fondo de video */

  #videoFondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.custom-row {
  display: flex; 
  justify-content: center;
}
.custom-col {
  width: 100%; 
  max-width: 768px; 
  margin: 0 auto; 
  text-align: center; 
}



.navbar {
    margin-top: 2%;
    background: radial-gradient(at top, rgba(227, 14, 149, 0.363), rgba(221, 87, 199, 0.733)) !important;
    backdrop-filter: blur(5px);
    z-index: 0;
    position: absolute;
    border-radius: 25px;

  }

 .navbar-nav .nav-link {
    color: #ffffff; 
    font-size: large;
    font-family: "FIFA Welcome"; 
    
}


.logo {
 
    width: 30%;
    z-index: 1;
    display: block; 
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    
}




.button2 {
  min-width: 300px;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #d5d5e3;
   margin-top: 5%;
  font-family: "FIFA Welcome" !important ; 
  background: radial-gradient(at top, rgba(14, 220, 227, 0.363), rgba(89, 142, 217, 0.767)) !important;
  backdrop-filter: blur(5px);
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(47, 110, 226) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button2::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button2:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button2:hover::before, button:focus::before {
  opacity: 1;
}

.button2::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button2:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

 
footer{
  
   
    color: #ffffff; 
    font-size: large;
    font-family: "FIFA Welcome"; 

    text-align: center; /* Alinear el texto al centro */
    
 
   
}
.zapa{
    width: 60%;
    animation: zapatilla_animacion ease-in-out infinite 4s;
    z-index: 2;
}

@keyframes zapatilla_animacion{ 
     0%{ transform: translateY(-10%)} 
     50%{ transform: translateY(0%)}
     100%{transform: translateY(-10%)}
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 60% !important;
}
}



.icon {
  display: flex !important;
  justify-content: center; 
}
.iconos {
 /* align-items: center; */ 
 display: flex !important;
 justify-content: center; 
  position: relative; 
  width: 50px; 
  height: 50px; 
  font-size: 30px; 
  transition: 0.3s; 
  text-decoration: none;
}


.navbar-nav {
  text-align: center; 

}

.navbar-nav .nav-item {
  display: inline-block;
  margin: 0 10px; 
}

.navbar-expand-lg .navbar-collapse {
 
  
  justify-content: space-around;
}
 i { 
  display: flex; 
  justify-content: center; 
  padding: 20px;
  
 

}
.iconos a i {
  color: #fff; /* Color blanco */
}
.iconos a i:hover {
  color: rgb(14, 101, 233);
}

a {
  font-size: 25px !important;
}

.carousel-inner {
  height: 550px;
}

#catalogo {
  font-family: "FIFA Welcome" !important ; 
  color: #fff;
}

.navbar-toggler {
  background-color: #efe6e645 !important;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.logo{
-webkit-animation: rotate-center 5s ease-in-out reverse both;
        animation: rotate-center 1s ease-in-out reverse both;
}


.logo{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  
 
  
}
