body {
    background-image:url(/CATALOGO/ropa/img/imgFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px #cdf0f080;
    min-height: 100vh;  
}

#header {
    border: 1px solid rgb(232, 232, 232);
    position: -webkit-sticky; /* Para Safari */
    position: sticky;
    top: 0; /* La distancia desde la parte superior de la ventana del navegador */    
}

#editar {
    margin-right:10px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(255,255,255);
}


/*animacion de cargar*/

#cargando {
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }
  
  .mi-imagen-con-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-image: url('/CATALOGO/ropa/img/codigourbano2.png');
    background-size: cover;
  }

  /*animación del logo*/

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#logo {
    -webkit-animation: rotate-center 5s ease-in-out reverse both;
    animation: rotate-center 1s ease-in-out reverse both;
}
