<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/zapatillas.ico" type="image/x-icon">
    <title>Ropa Deportiva - Codigo Urbano</title>
    <script src="https://kit.fontawesome.com/8e58209530.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../Header_Footer JS/estilo-fot-head.CSS">
    <link rel="stylesheet" href="./css/ropa.CSS">
    <link rel="shortcut icon" href="./img/codigourbano2.png" type="image/x-icon">
</head>

<body>
    <header>

    </header>
    <main>
        

        <div id="app" v-cloak>
            <h1 id="myID"></h1> <!-- Titulo de Ropa Deportiva en js-->
            <!--Carousel-->
            <div class="gallery js-flickity carousel" data-flickity-option='{"wrapAround":true}' id="carousel-div">

                <div class="gallery-cell">
                    <img src="./img/modelo_03.webp" alt="">
                </div>
                <div class="gallery-cell">
                    <img src="./img/modelo_04.jpg" alt="">
                </div>
                <div class="gallery-cell">
                    <img src="./img/modelo_13.jpg" alt="">
                </div>
                <div class="gallery-cell">
                    <img src="./img/modelo_06.jpg" alt="">
                </div>
                <div class="gallery-cell">
                    <img src="./img/modelo_08_v2.png" alt="">
                </div>
                <div class="gallery-cell">
                    <img src="./img/modelo_09.jpg" alt="">
                </div>
            </div>
            <div class="container_genero_buscador">
                <div class="genero">
                    <p @click="changeGender('todo')" onclick="mantenerLinea(this)">Todo</p>
                    <p @click="changeGender('hombre')" onclick="mantenerLinea(this)">Hombre</p>
                    <p @click="changeGender('mujer')" onclick="mantenerLinea(this)">Mujer</p>
                    <p @click="changeGender('niño')" onclick="mantenerLinea(this)">Niños</p>
                </div>
                <label for="buscador"></label>
                <input type="text" id="buscador" placeholder="Buscador" v-model="selectorRopa"
                    @keyup.enter="fetchData(selectorRopa)" onclick="manteneColorFondo(this)">
            </div>
            <div class="grid-container">
                <div class="tipo-ropa">

                    <button @click="changeSubCategory('Remera')" class="boton" onclick="cambiarColor(this)">Remeras</button>
                    <button @click="changeSubCategory('Camisetas')" class="boton"onclick="cambiarColor(this)">Camisetas</button>
                    <button @click="changeSubCategory('Pantalones')" class="boton"onclick="cambiarColor(this)">Pantalones</button>
                    <button @click="changeSubCategory('Calzas')" class="boton" onclick="cambiarColor(this)">Calzas</button>
                    <button @click="changeSubCategory('Shorts')" class="boton" onclick="cambiarColor(this)">Shorts</button>
                    <button @click="changeSubCategory('Buzos')" class="boton" onclick="cambiarColor(this)">Buzos</button>
                    <button @click="changeSubCategory('Camperas')" class="boton" onclick="cambiarColor(this)">Camperas</button>

                </div>
                <div id="grid-columna_derecha">
                    <!--Contenedor de tarjetas-->
                    <div class="container-tarjeta">
                        <div v-if="noProducts" class="no-products-message">
                            <p>No se encontraron productos que coincidan con los criterios de búsqueda.</p>
                        </div>
                        <div class="tarjeta" v-for="product in products">
                            <a href="javascript:void(0)" class="heart" :class="{ 'red': product.isFavorite }"
                            @click="toggleColor(product)">&hearts;</a>
                            <img class="imagen_product" :src="product.imagen || '../../img/product-default.png'" @error="handleImageError($event)" :alt="product.nombre" @click="showModal(product)">
                            <div class="tarjeta-texto" id="miTarjeta">
                                <p class="card-text">Precio: ${{ product.precio }}</p>
                                <h5 class="card-title">{{ product.nombre }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenedor de favoritos-->
            
                
            <div id="contenedor_botones_producto">
                <h3 id="favorio">Favoritos</h3>
              </div>
              <div class="contenedor_de_productos_y_favoritos">
                <div v-for="product in favorites[getCurrentUserId()] || []" :key="product.id">
                  <div class="tarjeta">
                    <button class="elimnar_fav_Y_produc" @click="toggleFavorite(product)">X</button>
                    <img class="imagen_product" :src="product.imagen || '../../img/product-default.png'" @error="handleImageError($event)" :alt="product.nombre">
                    
                    <h5>{{ product.nombre }}</h5>
                    <p>Precio: ${{ product.precio }}</p>
                  </div>
                </div>
              </div>
            
            <!-- contenedor del carrito-->

            <div id="contenedor_botones_producto">
                <h3 id="titulo_carrito">Carrito</h3>
                <p id="contador_precio" style="color: rgb(247, 247, 247);">Total: ${{ totalPrice() }}</p>
                <button id="compra_producto" class="boton_agragar_compara" @click="realizarPedido">Realizar Compra</button>
            </div>
            
            <div class="contenedor_de_productos_y_favoritos">
                <div v-for="(product, index) in compras" :key="product.id">
                    <div class="tarjeta">
                        <button class="elimnar_fav_Y_produc" @click="removeFromCompras(product)">X</button>
                        <img class="imagen_product_interno" v-if="selectedProduct" :src="selectedProduct.imagen || '../../img/product-default.png'" @error="handleImageError($event)" alt="">
                  
                        <h5>{{ product.nombre }}</h5>
                        <p>Precio: ${{ product.precio }}</p>
                        <div class="cantidad-selector">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" v-model.number="product.cantidad" min="1" :max="product.stock" >
                        </div>
                    </div>
                </div>
            </div>

            <!-- ventana emergente-->
            <transition name="fade">
                <dialog id="modal" class="productoInterno" v-show="isModalOpen">
                    <img class="imagen_product_interno" v-if="selectedProduct" :src="selectedProduct.imagen || '../../img/product-default.png'" @error="handleImageError($event)" alt="">
                    <a href="javascript:void(0)" @click="closeModal" class="btn-exit">X</a>
                    <h2 v-if="selectedProduct">{{selectedProduct.nombre}}</h2>
                    <div class="descripcion_de_producots">
                        <p v-if="selectedProduct">Precio: ${{ selectedProduct.precio }}</p>
                        <p v-if="selectedProduct">Stock: {{selectedProduct.stock}}</p>
                        <p v-if="selectedProduct">Descripción: {{selectedProduct.descricion}}</p>
                        <p v-if="selectedProduct">Marca: {{selectedProduct.marca}}</p>
                    </div>
                    <hr>
                    <div class="cantidad-selector">
                        <label for="cantidad">Cantidad a Comprar:</label>
                        <input width="70px" type="number" id="cantidad" v-model.number="cantidadSeleccionada" min="1" :max="selectedProduct ? selectedProduct.stock : 1" v-modal="cantidad_producto">
                    </div>
                    <div class="boton_agragar_compara">
                        <button class="boton_agragar_compara" id="compra" @click="comprar" :disabled="!cantidad || cantidad > (selectedProduct ? selectedProduct.stock : 0)">Comprar</button>
                        <button class="boton_agragar_compara" :class="{ 'boton-anadir': !isInCompras(selectedProduct), 'boton-sacar': isInCompras(selectedProduct) }"@click="toggleCompras(selectedProduct, cantidadSeleccionada)" id="añadir">
                            {{ isInCompras(selectedProduct) ? 'Actualizar' : 'Añadir' }}
                        </button>
                    </div>
                </dialog>
            </transition>


        </div>
    </main>

    <footer>

    </footer>
    <script src="../Header_Footer JS/MAIN.JS"></script> <!-- aca guardamos el HEADER y el Footer en JS -->
    <script src="../Header_Footer JS/Menu.js"></script> <!-- esto esta logia de responsiva  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!-- VUE -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> <!-- para hacer un carrito -->
    <script src="./js/ropa.js"></script> <!-- JS Ropa -->
    
</body>

</html>