
body{
   background-color: #ffff;
   
}

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#myID span {
    opacity: 0;
    animation: example 0.5s forwards;
}

#myID{
    font-size: 3vw;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: -10;
    
}

/* esto es para mostrar el contenido de app VUE cuando el html este carcado por completo. y que se cierre con transition. */
[v-cloak] {
    display: none;
  }
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
.fade-enter, .fade-leave-to {
    opacity: 0;
  }


#pintado{
   
    background-color: rgba(243, 123, 243, 0.767);
    backdrop-filter: blur(1px); /* Desenfoque del fondo */
}


/* para el genero */
#main-prin_seleccionador_genero{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4vw;
    height: 10em;

    
    
}

@media  (max-width:800px) {
    #main-prin_seleccionador_genero{
        flex-direction: column;
        padding: 8em 0;
        width: 50%;
        gap: 10px;
        
        border-radius: 17px;
        margin: 5em auto;
    }

    #main-prin_seleccionador_genero a{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

}




.genero{
    color: rgb(116, 40, 116);
    font-size: 2em;
    margin-left: 1em;
}

.genero:hover{
    border-bottom: 10px solid rgb(99, 15, 80);
    border-top: 10px solid rgb(97, 28, 97);
    transition: 0.2s;
}

.genero.activar{
    border-bottom: 3px solid rgb(105, 30, 95);
    border-top: 3px solid rgb(102, 27, 73);
    transition: 0.2s;
}

@media (max-width: 800px){

    .genero{
        font-size: 2em;
    }
    
}


#searchs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    padding: 1em;
   
    
}

#search{
    padding: 0 1em;
    font-size: 2em;
    border-radius: 17px;
}

/* fin del carruzel */

.grid{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    justify-content: center;
}

@media (max-width:800px) {    
    .grid{
        grid-template-columns:1fr;
    }

    #sidebar{
        margin: 0 auto;
        width: 95%;
    }

    #unico{
        margin-bottom: 1em;
    }

}



/* modificamos el sideber */
#sidebar {
    border: 1px solid rgb(92, 26, 72);
 
    padding: 0 1em;
    width: 95%;
    background-color: rgba(226, 86, 180, 0.8);
    border-radius: 0 17px 17px 0;
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    /* z-index: 1000; */
}


.sidebar-link{
    color: #ffff;
    background-color: #c25ea9ad;
    border-radius: 17px;
    padding: 0 10px;
    font-size: 130%;
    margin-top: 1em;
    font-weight: 800;
}

.sidebar-link:hover{
    background-image: linear-gradient(to right, rgb(190, 25, 176), rgb(235, 101, 228), rgb(213, 112, 216), rgb(230, 140, 208));
}

.sidebar-link.active{
    background-image: linear-gradient(to right, rgb(190, 25, 168), rgb(235, 101, 224), rgb(216, 112, 207), rgb(230, 140, 208));
}



/*configuracion de productos*/

.contenedor_de_productos{
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0;
    border: 5px solid rgb(204, 6, 178);
    background-color: rgba(216, 122, 196, 0.5);

    border-radius: 2em;
    margin: 0.9em;
}



.producto{
    text-align: center;
    width: 20em;
    /* max-width: 15em;
    min-width: 5em; */

    height: 24em;
    padding: 0 1em;
    background-color: rgb(207 92 179 / 90%);
    margin: 1vw;
    overflow: auto;
    border-radius: 17px;

    
}

.producto{
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.4);
}

.heart{
    font-size: 60px;
    margin-right: 0.3em;
    margin-top: 0.2em;
    color: rgb(130, 136, 130);
    position: fixed;
    transform: translateX(190px);
    

}

.heart.red{  /*esto es del corazon faovrito*/
 color: rgb(233, 10, 10);
}



/* ver detalle del producto */
.productoInterno {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 95%;
    display: block;
   /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    */background-color: rgba(250, 169, 223, 0.973); /*antiquewhite*/
    z-index: 1000;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
    overflow: auto;
    /* Agrega desplazamiento si el contenido es más grande que el modal */
    border-radius: 10px;
    text-align: center;
}

.productoInterno h2,.boton_agragar_compara{
    text-align: center;
}

.descripcion_de_producots {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align:left;
    background-color: rgba(235, 132, 221, 0.8);
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.productoInterno hr {
    width: 80% auto;
    height: 1px;
    background-color: rgb(87, 27, 77);
    border: rgb(90, 29, 72);
    
}
.cantidad-selector {
    margin-top: 10px;
    font-size:1.6rem ;
}
.cantidad-selector input {
    font-size: 1.5rem;
    margin-left: 5px;
    border-radius: 5px;
}
.boton_agragar_compara {
    min-width: 100px;
    min-height: 60px;
  
    text-transform: uppercase;

  
    color: #d5d5e3;
 
    font-family: "FIFA Welcome" !important ; 
    background: radial-gradient(at top, rgba(167, 14, 227, 0.363), rgba(76, 7, 85, 0.346)) !important;
    backdrop-filter: blur(5px);
  
    border: none;
    border-color: #350f2d;
  
    box-shadow: 12px 12px 24px rgba(77, 40, 69, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    
    
}
.boton_agragar_compara:hover {
    background: radial-gradient(at top, rgba(193, 100, 230, 0.363), rgba(164, 95, 173, 0.346)) !important; 
}
  
  .boton-anadir {
    background-color: #752063; /* Verde */
    color: white;
  }
  
  .boton-sacar {
    background-color: #640e40; /* Rojo */
    color: white;
  }

  /* Estilos del contenedor de compras*/
.contenedor_de_productos_y_favoritos{
    background-color: rgba(216, 61, 157, 0.5);
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 17px 17px;
    margin: 0 0.7em;
    margin-bottom: 9vw;
}

#favorio{/*
    margin-left:11px;
    margin-right:11px;
    margin-top: 13vw;
    background-color: rgba(70, 68, 68,0.5);
    border-radius: 17px 17px 0 0;*/
    color: rgba(85, 28, 73, 0.5);
    font-size: 4rem;
    box-shadow: inset 0 0 0 2000px #f0b5f080;
    border-radius: 60px;
    padding: 0px 10px;
    
}


#contenedor_botones_producto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(187, 64, 166, 0.5);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 17px 17px 0 0;
    margin: 0 11px;
    padding: 10px 0;
    max-height: 100px;
}

#contador_precio{
    font-weight: 800;
    margin-left:11px;
    margin-right:11px;
    background-color: rgba(226, 95, 209, 0.5);
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
}

.container-carrito {
    background-color:rgba(224, 68, 211, 0.5) ;
}

#titulo_carrito {
    color: rgba(134, 37, 126, 0.5);
    font-size: 4rem;
    box-shadow: inset 0 0 0 2000px #f0bde7b4;
    border-radius: 60px;
    padding: 0px 10px;
}


/* se un tamaño mínimo para el modal en pantallas grandes */
@media (max-width: 600px) {
    .procutoInterno {
        width: 81%;
        height: 90%;

    }

    .btn-exit {
        font-size: 1em;
    }

}

.btn-exit {
    /* transform: translate(1.5em, -1.7em);  */
    font-size: 7em;
    /* Reducir el tamaño de la fuente */
    color: rgb(100, 23, 90);
    z-index: 1111;
    position: fixed;
    top: -25px;
    /* Agregar un poco de margen */
    right: 10px;
    /* Agregar un poco de margen */

}

.btn-exit:hover {
    color: rgb(125, 128, 125);
}




.descripcion_de_producots{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}


#contenedor_de_productos, .producto:hover{
    transform: translateY(-5px);

}

.imagen_product{
    border-radius: 17px;
    width: 15em;
    margin-top: 1em;
}


.imagen_product_interno{
    max-width: 82%;
    border-radius: 30px;
    

}



#añadir{
    margin: 1em;
    border-radius: 17px;
    font-size: 2em; 
    background-color:  rgb(255, 99, 255);
}

.contenedor_de_productos_y_favoritos{
    background-color: rgba(163, 65, 155, 0.5);
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 17px 17px;
    margin: 0 0.7em;
    margin-bottom: 9vw;
}


#contenedor_botones_prosucto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(230, 129, 224, 0.5);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 17px 17px 0 0;
    margin: 0 11px;
    padding: 10px 0;
}

@media (max-width: 600px) {
    #contenedor_botones_prosucto{
        flex-direction: column;
    }
}

.elimnar_fav_Y_produc{
    font-size: 5em;
    /* Reducir el tamaño de la fuente */
    color: rgb(75, 16, 57);
    z-index: 1111;
    position: fixed;
    transform: translate(200px, -10px);
    background-color: transparent;
    border: none;
}

.elimnar_fav_Y_produc:hover{
    color: rgb(230, 164, 221);
}

#compra_producto{
    background-image: linear-gradient(to right, rgb(177, 81, 172),  rgb(198, 32, 240));
    font-size: 2em;
}

#compra_producto:hover{
    background-image: linear-gradient(to right, rgb(198, 32, 240),rgb(177, 81, 172));
}

#compra{
    background-image: linear-gradient(to right, rgb(177, 81, 172),  rgb(198, 32, 240));
    font-size: 2em !important;
    color: white;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

#compra:hover {
    background-image: linear-gradient(to right, rgb(198, 32, 240),rgb(177, 81, 172));
}

#favorio, #compra{
   text-align: center;
    font-size: 3em;
    
}

#contador_precio{
    font-weight: 800;
    margin-left:11px;
    margin-right:11px;
    background-color: rgba(197, 111, 193, 0.5);
    font-size: 2em;
    text-align: center;
}

.imagen_product {
    max-height: 250px;
}

@media (max-width: 600px) {
    #contenedor_botones_producto{
        display: flex;
        flex-direction: column;
    }
}