
body{
    background-image: url(../img/fondo.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 5000px #92a1a180 !important;
   
}

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#myID span {
    opacity: 0;
    animation: example 1s forwards;
}

#myID{
    font-size: 8vw;
    margin: 12% 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#pintado{
    background-color: rgba(211, 211, 211, 0.8);
    backdrop-filter: blur(3px); /* Desenfoque del fondo */
    margin-bottom: 1em;
    border-radius: 17px;
    border-top: solid 3px  black;
    border-bottom: solid 3px  black;
}


/* para el genero */
#main-prin_seleccionador_genero{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4vw;
    height: 10em;

    
    
}

.genero{
    font-size: 2em;
}

.genero:hover{
    border-bottom: 10px solid black;
    border-top: 10px solid rgb(0, 0, 0);
    transition: 0.2s;
}

.genero.activar{
    border-bottom: 3px solid black;
    border-top: 3px solid rgb(0, 0, 0);
    transition: 0.2s;
}

@media (max-width: 600px){

    .genero{
        font-size: 1.7em;
    }
    
}


#searchs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%; 
     
}

#search{
    font-size: 1.5em;
    margin-bottom: 2em; 
}


/* fin del carruzel */

.grid{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    justify-content: center;
    
    
}



/* modificamos el sideber */
#sidebar {

    border: 1px solid black;
    margin-left: 10%; 
    padding: 0 1em;
    width: 95%;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 0 17px 17px 0;
    display: flex;
    flex-direction: column;
  
    /* z-index: 1000; */
}


.sidebar-link{
    padding: 0 10px;
    font-size: 130%;
    margin-top: 1em;
    font-weight: 800;
}

.sidebar-link:hover{
    background-image: linear-gradient(to right, rgb(25, 190, 190), rgb(101, 219, 235), rgb(112, 216, 199), rgb(140, 224, 230));
}

.sidebar-link.active{
    background-image: linear-gradient(to right, rgb(25, 190, 190), rgb(101, 219, 235), rgb(112, 216, 199), rgb(140, 224, 230));
}



/*configuracion de productos*/

.contenedor_de_productos{
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0;
    border: 5px solid rgb(6, 197, 204);
    background-color: rgba(70, 68, 68,0.5);

    border-radius: 2em;
    margin: 0.9em;
}



.producto{
    text-align: center;
    width: 20em;
    /* max-width: 15em;
    min-width: 5em; */

    height: 24em;
    padding: 0 1em;

    background-color: rgba(204, 253, 245, 0.9);
    margin: 1vw;
    overflow: auto;
    border-radius: 17px;

    
}

.producto{
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.4);
}

.heart{
    font-size: 60px;
    margin-right: 0.3em;
    margin-top: 0.2em;
    color: green;
    position: fixed;
    transform: translateX(190px);
    

}

.heart.red{  /*esto es del corazon faovrito*/
 color: rgb(233, 10, 10);
}



/* ver detalle del producto */
.procutoInterno {

    position: fixed;
    border-radius: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 95%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    z-index: 1000;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
    overflow: auto;
    /* Agrega desplazamiento si el contenido es más grande que el modal */
}


/* se un tamaño mínimo para el modal en pantallas grandes */
@media (max-width: 600px) {
    .procutoInterno {
        width: 81%;
        height: 90%;

    }

    .btn-exit {
        font-size: 1em;
    }

}

.btn-exit {
    /* transform: translate(1.5em, -1.7em);  */
    font-size: 7em;
    /* Reducir el tamaño de la fuente */
    color: red;
    z-index: 1111;
    position: fixed;
    top: -25px;
    /* Agregar un poco de margen */
    right: 10px;
    /* Agregar un poco de margen */

}

.btn-exit:hover {
    color: green;
}




.descripcion_de_producots{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}


#contenedor_de_productos, .producto:hover{
    transform: translateY(-5px);

}

.imagen_product{
    border-radius: 17px;
    width: 15em;
    margin-top: 1em;
}


.imagen_product_interno{
    max-width: 82%;
    border-radius: 30px;
    

}

#comprar{
    margin: 1em;
    font-size: 2em;
    background-color: green;
}

#añadir{
    margin: 1em;
    font-size: 2em; 
    background-color: rgb(226, 226, 0);
}

.contenedor_de_productos_y_favoritos{
    background-color: rgba(70, 68, 68,0.5);
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 17px 17px;
    margin: 0 0.7em;
    margin-bottom: 9vw;
}

#favorio{
    margin-left:11px;
    margin-right:11px;
    margin-top: 13vw;
    background-color: rgba(70, 68, 68,0.5);
    border-radius: 17px 17px 0 0;
}

#contenedor_botones_prosucto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(70, 68, 68,0.5);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 17px 17px 0 0;
    margin: 0 11px;
    padding: 10px 0;
}

.elimnar_fav_Y_produc{
    font-size: 5em;
    /* Reducir el tamaño de la fuente */
    color: red;
    z-index: 1111;
    position: fixed;
    transform: translate(200px, -10px);
    background-color: transparent;
    border: none;
}

.elimnar_fav_Y_produc:hover{
    color: rgb(23, 190, 1);
}

#compra_producto{
    background-image: linear-gradient(to right, rgb(34, 173, 6),  rgb(39, 240, 32));
    font-size: 2em;
}

#compra_producto:hover{
    background-image: linear-gradient(to right,  rgb(39, 240, 32),rgb(34, 173, 6));
}

#compra{
    background-color: antiquewhite;
    padding: 0 10px;
    color: rgb(0, 0, 0);
}

#favorio, #compra{
   text-align: center;
    font-size: 3em;
    
}

#contador_precio{
    font-weight: 800;
    margin-left:11px;
    margin-right:11px;
    background-color: rgba(70, 68, 68,0.5);
    font-size: 2em;
    text-align: center;
}