<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo Urbano - Acceso Restringido</title>
    <link rel="stylesheet" href="./login.css">
    <link rel="shortcut icon" href="../img/codigourbano2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <video autoplay loop muted plays-inline class="background-video">
        <source src="../img/video_fondo.mp4" type="video/mp4">
    </video>
    <div id="app">
        <div class="wrapper">
            <h2> Login </h2>
            <div class="input-field"> 
                <input type="text" id="email" v-model="email" required> 
                <label for="email">Introduce tu email</label> 
            </div>
            <div class="input-field"> 
                <input type="password" id="password" v-model="password" required> 
                <label for="password">Introduce tu contraseña</label>
            </div>
         
            <div class="forget"> 
                <label for="remember"> 
                    <input type="checkbox" id="remember">
                    <p>Recordarme</p>
                </label> 
                <a href="#">Olvido su contraseña?</a> 
            </div>
            <button type="button" @click="login">Entrar</button>
            <a href="../index.html" class="back-icon" title="Volver al home">
                <i class="fas fa-arrow-left"></i>
                <span>Volver</span>
            </a>
            <div v-if="error" class="error-message">{{ mensajeError }}</div>
            
            <!-- Nuevo enlace para registrarse -->
            <div class="register">
                <p>¿No tienes una cuenta? <a href="./usuario_nuevo_cliente.html">Regístrate aquí</a></p>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="login.js"></script>

</body>

</html>
