*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_grid{
    background-color: azure;
 
}

.contendor_pader{
    background-color: brown;
    grid-area: contenedor;
}

.hijos_grid{
    background-color: blueviolet;
    grid-area: hijo;
}