* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}




/* configracion del menu*/

header {
    

    background: radial-gradient(at top, rgba(227, 14, 149, 0.363), rgba(221, 87, 199, 0.346)) !important;
    backdrop-filter: blur(5px);
    z-index: 0;
    
    border-radius: 25px;
   
   
}


#nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    
}

.logo_flex {
    display: flex;
    justify-content: center;
    align-items: center;

}


.topnav {

    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans';
    font-size: 1em;
   


}



.nav-list {

    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}

.nav-list a {
    color: rgb(255, 255, 255);
    font-size: 2em;
   
}

/* Ajustes para la visibilidad de .nav-list */
.nav-list {
    z-index: 1000 !important;
    position: relative; /* Asegura que el z-index se aplique correctamente */
}

/* Asegurar que el carrusel esté detrás de la nav-list */
.gallery {
    z-index: 1;
    position: relative; /* Asegura que el z-index se aplique correctamente */
}



@media (max-width: 1300px){
    .nav-list a{
        font-size: 140%;
    }
}

.boton-hamburguesa {
    height: 50%;

    background-color: transparent;
}

.cerrar_menu {
    background-color: transparent;
}

/*configuracion para que sea responsive*/
.boton-hamburguesaIMG{
    width: 60px;
    height: 60px;
}


.boton-hamburguesa{
    border: none;
}

.cerrar_menu,
.boton-hamburguesa {
    display: none;

}


@media screen and (max-width: 970px) {
    .nav-list a {
        color: #cf83cd;
    }
    .boton-hamburguesa,
    .cerrar_menu {
        display: block;
    }
    .topnav {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
    }
    .topnav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        background-color: rgb(87, 56, 95);
        position: absolute;
        top: 0;
        right: 0;
        height: -1%;
        width: 250px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding: 6em 2em;
        margin: 0;
        z-index: 1001;
    }
    .topnav.visible .nav-list {
        transform: translateX(0);
    }
    #nav {
        z-index: 1002;
    }
    .cerrar_menu {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}


/***fin***/


/* esto es para que el logo gire*/

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.logo {
    -webkit-animation: rotate-center 5s ease-in-out reverse both;
    animation: rotate-center 1s ease-in-out reverse both;
}


.logo {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;



}

.logo img {

    width: 9vh;
}

.menu_interno {
    font-size: 1.5em;
    padding: 0.5vw;
}

.menu_interno:hover {
    background-color: rgba(206, 236, 236, 0.2);

    border-radius: 17px;
    transition: 0.5s;
}

.corazon_compra {
    color: red;

    padding-right: 0.3em;
}

.carrito_compraIMG, .corazon_compraIMG{
    width: 50px;
    height: 50px;
}

/*configuramos el buscador del header*/

#buscador_header_logico {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    margin-right: 2em;
    
}





footer {
       margin-top: 1%;
    background: radial-gradient(at top, rgba(227, 14, 149, 0.363), rgba(221, 87, 199, 0.346)) !important;
    backdrop-filter: blur(5px);
    z-index: 0;
    color: rgb(160 83 165);
    border-radius: 25px;
    padding: 3em;
    gap: 1em;
}

.logo-text{
    letter-spacing: 5px;
}


.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
 
}

@media screen and (max-width: 900px){
    .footer-content{
        grid-template-columns: 1fr;
    }

    .contact{
       margin-top: 1.5em; 
    }
}

.footer-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iconos > a > i{

    margin-top: 0.5em;
    font-size: 3em;
}

.iconos > a > i:hover{
    color: rgb(194, 9, 231);
}

h2{
    font-size: 2.5em;
    color: rgb(123, 63, 128);
}

p, span{
    font-size: 1.7em;
    color: rgb(160 83 165);
}
.producto > p {
    color: rgb(233, 193, 236);
}

[title] {
    position: relative;
  }
  
  [title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
  }
  #logoutButton {
    display: none;
  }
  
  #cerrarSesionBtn {
    display: inline-block;
    background-color: #cf22b8;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: xx-small;
  }
  
  #cerrarSesionBtn:hover {
    background-color: #6b0842;
  }
  .carrito_compraIMG, .corazon_compraIMG {
  
    display: flex !important;
    position: relative !important;
    top: -8px !important;
  }  
