* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "FIFA Welcome";
}

body {
    background-image: url(../img/imgFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px #cdf0f080;
}

@font-face {
    font-family: "FIFA Welcome";
    src: url('/img/fifawelcome1.3.ttf') format('truetype');
}

h1 {
    margin: 2rem 0px;
    text-align: center;
    font-size: 3rem;
    color: rgb(39, 39, 69);
}

h3 {
    text-align: center;
}

.container_genero_buscador{
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: inset 0 0 0 2000px rgba(181, 188, 188, 0.5);
    border-top:4px solid rgb(6,197,204);
    border-bottom:4px solid rgb(6,197,204);
    background-image: linear-gradient(to right, rgb(6,197,204),  rgb(246, 120, 242), rgb(6,197,204));

}

.genero {
    min-height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genero p {
    margin: 0 50px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
}

.genero p:hover {
    border-bottom: 2px solid black;
}

.genero p:active {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}

.genero p.active{
    border-bottom: 2px solid black;
}

#buscador {
    display: flex;
    width: 50%;
    max-width:25rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: rgba(231, 176, 237, 0.502);
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 15px;
    letter-spacing: 2px;
    border:2px solid rgb(6,197,204);
    outline: none;

    
}
#buscador:focus{
    border:2px solid rgb(6,197,204);
}

.carousel {

    max-width: 80%;
    max-height: 500px;
    margin: 1rem auto;
    overflow: hidden;
}

.gallery {
    border-radius: 15px;
}
.gallery-cell {
    width: 100%;
}
.carousel img {
    width: 100%;
    /* Establece el ancho deseado */
    height: 1000px;
    /* Establece la altura deseada */
    /*width: 100%; height: auto;*/
    object-fit: cover;
    border: none;
}

/*aplicamos animacion al producto*/

@keyframes mover-arriba-abajo {

    0%,
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.carousel img {
    animation: mover-arriba-abajo 3s infinite;
}

/*grid-container que contiene a lista ropa y tarjetas*/
.grid-container {
    height: 80%;
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* 1fr 3fr*/

}




/*estilos de lista de tipo-ropa*/
.tipo-ropa {
    margin: 1rem;
    padding: 1rem;
    width: 70%;  /*300px*/
    min-width: 160px;
    height: 406px;
    font-size: 1.5rem;
    min-height: 230px;
    /* Establece una altura mínima */
    border-radius: 5px;
    box-shadow: inset 0 0 0 2000px rgba(147,154,154,0.5);
    border:4px solid rgb(6,197,204);
}

.tipo-ropa .boton {
    height: 3rem; /*auto*/
    width: 100%;
    margin: 0 0 5px 0;
    display: block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)   
}
.boton{
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to right,rgb(193,233,227), rgb(244, 36, 244), rgb(193,233,227));
    box-shadow: inset 0 0 0 2000px #cf83d980;
    border:2px solid rgba(6,197,204,0.5);
}
.boton:hover{
    background-image: linear-gradient(to right,rgb(193,233,227), rgb(239, 194, 239), rgb(193,233,227));
}
.boton.active{
    background-image: linear-gradient(to right,rgb(165, 245, 184), rgb(34, 255, 196), rgb(165, 245, 184));
}


/* sección de tarjetas*/
.container-tarjeta {
    width: 95%;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0;
    border: 5px solid rgb(6, 197, 204);
    background-color: rgba(70, 68, 68, 0.5);
    border-radius: 2em;
    margin: 0.9em;
}

.tarjeta {
    text-align: center;
    width: 100%; /*2em*/
    max-width: 20em;
   /* min-width: 5em;*/
    height: auto;

    background-color: rgba(204, 253, 245, 0.8);
    margin: 1vw;
    /* overflow: auto; */
    border-radius: 17px;
    position: relative;

}

.imagen_product {
    width: 100%;
    margin-top: 1em;
    border-radius: 5px;
    /*object-fit:contain;*/
}

.tarjeta-texto {
    display: block;
    width: 100%;
    /* Establece el ancho deseado para la tarjeta */
    overflow: hidden;
    /* Oculta el contenido que desborda */
    font-size: 1.5rem;
}

.tarjeta p {
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.5em;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos al final del texto recortado */
}

.tarjeta:hover {
    transform: translateY(-5px);
    transition: 500ms;
    background-color: rgba(197, 95, 237, 0.5);
}

.container-tarjeta,
.tarjeta {
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.container-tarjeta,
.tarjeta:hover {
    transform: translateY(-5px);
}

.productoInterno {

    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 95%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    z-index: 1000;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
    overflow: auto;
    /* Agrega desplazamiento si el contenido es más grande que el modal */
}


.descripcion_de_producots {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.heart {
    font-size: 50px;
    color: green;
    position: absolute;
    left: 280px; /* Ajusta la posición horizontal según tus necesidades */
}

.heart.red {
    /*esto es del corazon faovrito*/
    color: rgb(233, 10, 10);
}

.boton_agragar_compara {
    font-size: 1em;

}

/* Botones de abir, cerrar ventana emergente*/

.btn-exit {

    /* transform: translate(1.5em, -1.7em);  */
    font-size: 7em;
    /* Reducir el tamaño de la fuente */
    color: red;
    z-index: 1111;
    position: fixed;
    top: -25px;
    /* Agregar un poco de margen */
    right: 10px;
    /* Agregar un poco de margen */


}

.btn-exit:hover {
    color: green;
}


#agrupador {
    display: flex;
    align-items: center;
}

.imagen_product_interno {
    max-width: 50%;

}

#comprar {
    margin: 1em;
    font-size: 2em;
    background-color: green;
}

#añadir {
    margin: 1em;
    font-size: 2em;
    background-color: rgb(226, 226, 0);
}


#sacar {
    margin: 1em;
    font-size: 2em;
    background-color: rgb(226, 226, 0);

}

/*.titulo_de_productoSeleccionado {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/

footer {
    margin-top: 10px;
    background-color: rgb(108, 183, 206);
    padding: 1em;

}

/*#footer_del_todo {
    background-color: rgb(194, 97, 97);
}*/

/* Estilos del contenedor de compras*/
.contenedor_de_productos_y_favoritos{
    background-color: rgba(70, 68, 68,0.5);
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 17px 17px;
    margin: 0 0.7em;
    margin-bottom: 9vw;
}

#favorio{
    margin-left:11px;
    margin-right:11px;
    margin-top: 13vw;
    background-color: rgba(70, 68, 68,0.5);
    border-radius: 17px 17px 0 0;
}

#contenedor_botones_producto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(70, 68, 68,0.5);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 17px 17px 0 0;
    margin: 0 11px;
    padding: 10px 0;
}



.elimnar_fav_Y_produc{
    font-size: 5em;
    /* Reducir el tamaño de la fuente */
    color: red;
    z-index: 1111;
    position: fixed;
    transform: translate(200px, -10px);
    background-color: transparent;
    border: none;
}

.elimnar_fav_Y_produc:hover{
    color: rgb(23, 190, 1);
}

#compra_producto{
    background-image: linear-gradient(to right, rgb(34, 173, 6),  rgb(39, 240, 32));
    font-size: 2em;
}

#compra_producto:hover{
    background-image: linear-gradient(to right,  rgb(39, 240, 32),rgb(34, 173, 6));
}

#compra{
    background-color: antiquewhite;
    padding: 0 10px;
    color: rgb(0, 0, 0);
}

#favorio, #compra{
   text-align: center;
    font-size: 3em;
    
}

#contador_precio{
    font-weight: 800;
    margin-left:11px;
    margin-right:11px;
    background-color: rgba(70, 68, 68,0.5);
    font-size: 2em;
    text-align: center;
}

.container-carrito {
    background-color:rgba(70, 68, 68,0.5) ;
}


/* media queries generales*/

/* Para tablets */
@media only screen and (min-width: 1px) and (max-width: 664px) {

    #carousel-div {
        width: 80%;
    }


    .genero {
        min-height: 100px;
        width: auto;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .grid-container {
        /* Cambia la disposición de tus elementos a vertical */

        grid-template-columns: 1fr;
        /* Una sola columna */
        grid-auto-rows: auto;
        /* Altura automática */
    }

    .tipo-ropa {
        margin: 0 auto;


    }

    .genero {
        min-width: 100%;
        /*display: inline;*/

    }

    .genero p {
        width: auto;
        margin: 10px;

    }
}

/* se un tamaño mínimo para el modal en pantallas grandes */
@media (min-width: 1px) and (max-width: 630px) {
    .productoInterno {
        width: 81%;
        height: 90%;

    }
/*
    .btn-exit {
        font-size: 1em;
    }
*/
}

@media (min-width: 1px) and (max-width: 426px) {

    .genero{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;

    }



}

@media (min-width: 1px) and (max-width: 426px) {

    


}

@media (max-width: 600px) {
    #contenedor_botones_producto{
        flex-direction: column;
    }
}