* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}

body {
    box-shadow: inset 0 0 0 2000px #cdf0f080;
}



#myID {
    margin: 2rem 0px;
    text-align: center;
    font-size: 3rem;
    color: rgb(39, 39, 69);
}

@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#myID span {
    opacity: 0;
    animation: example 1s forwards;
}

h3 {
    text-align: center;
}
/* esto es para mostrar el contenido de app VUE cuando el html este carcado por completo. y que se cierre con transition. */
[v-cloak] {
    display: none;
  }
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
.fade-enter, .fade-leave-to {
    opacity: 0;
  }

.container_genero_buscador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0;
    border: 5px solid rgb(135, 18, 139);
    background-color: rgba(192, 81, 168, 0.5);
    border-radius: 2em;
    margin: 0.9em;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
 

}

.genero {
    min-height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genero p {
    margin: 0 50px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
}

.genero p:hover {
    border-bottom: 2px solid rgb(73, 19, 64);
}

.genero p:active {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}

.genero p.active{
    border-bottom: 2px solid rgb(88, 27, 94);
}

#buscador {
    display: flex;
    width: 50%;
    max-width:25rem;
    margin: 0 auto;
   
    background-color: rgba(231, 176, 237, 0.502);
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 15px;
    letter-spacing: 2px;
    border:2px solid rgb(148, 24, 173);
    outline: none;

    
}
#buscador:focus{
    border:2px solid rgb(126, 23, 117);
}

#buscador.active{
    background-color: rgb(232,240,254);
}
#buscador:active{
    background-color: #ecd8ef80;
    transition:  background-color 1s ease;
}

.carousel {

    max-width: 80%;
    max-height: 700px;
    margin: 1rem auto;
    overflow: hidden;
    margin-bottom: 3rem;
}

.gallery {
    border-radius: 15px;
}
.gallery-cell {
    width: 100%;
    margin: 0px auto;
}
.carousel img {
   /* width: 100%;*/
   height: 700px;
   width: 100%;
   border-radius: 20px; 
   object-fit: scale-down;
   object-fit: cover;
    
}

/*aplicamos animacion al producto*/

@keyframes mover-arriba-abajo {

    0%,
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.carousel img {
    animation: mover-arriba-abajo 3s infinite;
}

/*grid-container que contiene a lista ropa y tarjetas*/
.grid-container {
    height: 80%;
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* 1fr 3fr*/

}




/*estilos de lista de tipo-ropa*/
.tipo-ropa {
    margin: 1rem;
    padding: 1rem;
    width: 70%;  /*300px*/
    min-width: 160px;
    height: 406px;
    font-size: 1.5rem;
    min-height: 230px;
    /* Establece una altura mínima */
    border-radius: 5px;
    border: 5px solid rgb(135, 18, 139);
    background-color: rgba(192, 81, 168, 0.5);
}

.tipo-ropa .boton {
    height: 3rem; /*auto*/
    color: floralwhite;
    width: 100%;
    margin: 0 0 5px 0;
    display: block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)   
}
.boton{
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to right,rgb(179, 90, 159), rgb(244, 36, 244), rgb(202, 111, 175));
    box-shadow: inset 0 0 0 2000px #cf83d980;
    border:2px solid rgba(87, 22, 70, 0.747);
}
.boton:hover{
    background-image: linear-gradient(to right,rgb(230, 172, 230), rgb(239, 194, 239), rgb(193,233,227));
}
.boton.active{
    background-image: linear-gradient(to right,rgb(184, 21, 224), rgb(255, 34, 218), rgb(245, 165, 228));
}


/* sección de tarjetas*/
.container-tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0;
    border: 5px solid rgb(135, 18, 139);
    background-color: rgba(192, 81, 168, 0.5);
    border-radius: 2em;
    margin: 0.9em;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.tarjeta {
    text-align: center;
    width: 100%; /*2em*/
    max-width: 20em;
   /* min-width: 5em;*/
    height: auto;
    background-color: rgb(233 215 230 / 80%);
    margin: 1vw;
    /* overflow: auto; */
    border-radius: 17px;
    position: relative;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.4);
    

}

.imagen_product {
    width: 100%;
    max-width: 20em;
    margin-top: 1em;
    border-radius: 5px;
    object-fit:cover;
}

.tarjeta-texto {
    display: block;
    width: 100%;
    /* Establece el ancho deseado para la tarjeta */
    overflow: hidden;
    /* Oculta el contenido que desborda */
    font-size: 1.5rem;
}

.tarjeta p {
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.5em;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos al final del texto recortado */
}

.tarjeta:hover {
    transform: translateY(-5px);
    transition: 500ms;
    background-color: rgba(255, 216, 245, 0.822);
}

.container-tarjeta,
.tarjeta {
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.2);
    transition: all 0.25s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.container-tarjeta,
.tarjeta:hover {
    transform: translateY(-5px);
}

#contenedor_dialog {
    width: 50%;
}

.productoInterno {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 95%;
    display: block;
   /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    */background-color: rgba(218, 171, 211, 0.932); /*antiquewhite*/
    z-index: 1000;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
    overflow: auto;
    /* Agrega desplazamiento si el contenido es más grande que el modal */
    border-radius: 10px;
    text-align: center;
}
.productoInterno h2,.boton_agragar_compara{
    text-align: center;
}

.descripcion_de_producots {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align:left;
    background-color: rgba(251, 204, 253, 0.8) !important;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.productoInterno hr {
    width: 80% auto;
    height: 1px;
    background-color: black;
    border: black;
    
}
.cantidad-selector {
    margin-top: 10px;
    font-size:1.6rem ;
}
.cantidad-selector input {
    font-size: 1.5rem;
    margin-left: 5px;
    border-radius: 5px;
}

.heart {
    font-size: 50px;
    color: rgb(139, 141, 139);
    position: absolute;
    left: 280px; /* Ajusta la posición horizontal según tus necesidades */
}

.heart.red {
    color: rgb(233, 10, 10);
}

.boton_agragar_compara {
    min-width: 100px;
    min-height: 60px;
  
    text-transform: uppercase;

  
    color: #d5d5e3;
 
    font-family: "FIFA Welcome" !important ; 
    background: radial-gradient(at top, rgba(167, 14, 227, 0.363), rgba(76, 7, 85, 0.346)) !important;
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(47, 110, 226) 100%);
    border: none;
    border-radius: 17px;
    box-shadow: 12px 12px 24px rgba(60, 61, 61, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    
    
}
.boton_agragar_compara:hover {
    background: radial-gradient(at top, rgba(193, 100, 230, 0.363), rgba(164, 95, 173, 0.346)) !important; 
}

.boton-anadir {
    background-color: #af4c91; /* Verde */
    color: white;
}
  
.boton-sacar {
    background-color: #f436db; /* Rojo */
    color: white;
}

/* Botones de abir, cerrar ventana emergente*/

.btn-exit {

    /* transform: translate(1.5em, -1.7em);  */
    font-size: 7em;
    /* Reducir el tamaño de la fuente */
    color: rgb(255, 0, 157);
    z-index: 1111;
    position: fixed;
    top: -25px;
    /* Agregar un poco de margen */
    right: 10px;
    /* Agregar un poco de margen */


}

.btn-exit:hover {
    color: rgb(70, 71, 70);
}


#agrupador {
    display: flex;
    align-items: center;
}

.imagen_product_interno {
    max-width: 50%;
    border-radius: 10px;
    
}

.imagen_product {
    max-height: 300px; 
}



#añadir {
    margin: 1em;
    font-size: 2em;
    background-color:  rgb(255, 99, 216);
}


#sacar {
    margin: 1em;
    font-size: 2em;
    background-color: rgb(205, 51, 172);

}

/*.titulo_de_productoSeleccionado {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/


/*#footer_del_todo {
    background-color: rgb(194, 97, 97);
}*/

/* Estilos del contenedor de compras*/
.contenedor_de_productos_y_favoritos{
    border: 5px solid rgb(135, 18, 139);
    background-color: rgba(192, 81, 168, 0.5);
    backdrop-filter: blur(6px); /* Desenfoque del fondo */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 17px 17px;
    margin: 0 0.7em;
    margin-bottom: 9vw;
}
#favorio{/*
    margin-left:11px;
    margin-right:11px;
    margin-top: 13vw;
    background-color: rgba(70, 68, 68,0.5);
    border-radius: 17px 17px 0 0;*/
    color: rgba(80, 33, 69, 0.651);
    font-size: 4rem;
    box-shadow: inset 0 0 0 2000px #d385c980;
    border-radius: 60px;
    padding: 0px 10px;
    
}


#contenedor_botones_producto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(187 80 149 / 50%);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    border-radius: 17px 17px 0 0;
    margin: 0 11px;
    padding: 10px 0;
    max-height: 100px;
}


.elimnar_fav_Y_produc{
    font-size: 5em;
    /* Reducir el tamaño de la fuente */
    color: rgb(255, 0, 179);
    z-index: 1111;
    position: fixed;
    transform: translate(200px, -10px);
    background-color: transparent;
    border: none;
}

#compra_producto{
    background-image: linear-gradient(to right, rgb(177, 81, 172),  rgb(198, 32, 240));
    font-size: 2em;
}

#compra_producto:hover{
    background-image: linear-gradient(to right, rgb(198, 32, 240),rgb(177, 81, 172));
}

#compra{
    background-image: linear-gradient(to right, rgb(177, 81, 172),  rgb(198, 32, 240));
    font-size: 2em !important;
    color: rgb(218, 210, 210);
    border-style: outset;
    
}

#compra:hover {
    background-image: linear-gradient(to right, rgb(198, 32, 240),rgb(177, 81, 172));
}

#favorio, #compra{
   text-align: center;
    font-size: 3em;
    
}

#contador_precio{
    font-weight: 800;
    margin-left:11px;
    margin-right:11px;
    background-color: rgba(204, 24, 189, 0.5);
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
}

.container-carrito {
    background-color:rgba(170, 76, 147, 0.5) ;
}

#titulo_carrito {
    color: rgba(94, 42, 81, 0.733);
    font-size: 4rem;
    box-shadow: inset 0 0 0 2000px #c27ac280;
    border-radius: 60px;
    padding: 0px 10px;
}


/* media queries generales*/

/* Para tablets */
@media only screen and (min-width: 1px) and (max-width: 664px) {

    #carousel-div {
        width: 80%;
    }


    .genero {
        min-height: 100px;
        width: auto;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .grid-container {
        /* Cambia la disposición de tus elementos a vertical */

        grid-template-columns: 1fr;
        /* Una sola columna */
        grid-auto-rows: auto;
        /* Altura automática */
    }

    .tipo-ropa {
        margin: 0 auto;


    }

    .genero {
        min-width: 100%;
        /*display: inline;*/

    }

    .genero p {
        width: auto;
        margin: 10px;

    }
}

/* se un tamaño mínimo para el modal en pantallas grandes */
@media (min-width: 1px) and (max-width: 630px) {
    .productoInterno {
        width: 81%;
        height: 90%;

    }
/*
    .btn-exit {
        font-size: 1em;
    }
*/
}

@media (min-width: 1px) and (max-width: 426px) {

    .genero{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;

    }



}

@media screen and (max-width: 970px) {
  
    #myID {
        position: relative;
        z-index: -1;
        
    }
    .topnav.visible .nav-list {
        
        position:  relative !important;
        z-index: 2 !important;
        height: auto !important;
        top: 380% !important;
    }
    .flickity-enabled.is-draggable {
        position: relative;
        z-index: -1;
    }
    body {

        position: relative;
        z-index: -1000;
        
    }
    

}

@media (max-width: 600px) {
    #contenedor_botones_producto {
        flex-direction: column; /* Cambiar la dirección de los elementos a columna */
        padding: 15px 10px; /* Ajustar el padding */
        margin: 0 5px; /* Ajustar el margen */
        max-height: none; /* Eliminar la restricción de altura */
       
    }
    #contenedor_botones_producto > p {
        margin-top: 15px;
    }
}
a.genero {
    color: pink !important;
    
}