*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "FIFA Welcome"; 
}


@font-face {
    font-family: "FIFA Welcome";
    src: url('/img/fifawelcome1.3.ttf') format('truetype');
}

h1 {
    margin: 2rem 0px;
    text-align: center;
    font-size: 3rem;
    color:rgb(39, 39, 69);
}

.genero {
    min-height: 100px;
    width: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}

.genero p {
    margin: 0 50px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
}

.genero p:hover {
    border-bottom: 2px solid black;
}

.genero p:active {
    transform: translateY(-5px);
}

.carousel {
    
    max-width: 80%;
    max-height: 500px;
    margin: 1rem auto;
    overflow: hidden;
}

.carousel img {
    width: auto; /* Establece el ancho deseado */
    height: 1000px; /* Establece la altura deseada */        /*width: 100%; height: auto;*/
    object-fit: cover;
    border: none;

}

/*grid-container que contiene a lista ropa y tarjetas*/
.grid-container {
    height: 80%;
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1fr 3fr*/
    
}




/*estilos de lista de tipo-ropa*/
.tipo-ropa {
    border: 1px solid blueviolet;
    margin: 1rem;
    padding: 1rem;
    width: 300px;   /* 200*/ 
    height: 265px;  /* 236  265*/
    font-size: 1.5rem;
    min-height: 230px; /* Establece una altura mínima */
    border-radius: 5px;
    background-color: rgb(168, 225, 244);
    box-shadow: 10px 10px 20px rgba(241, 136, 241, 0.5);
   
}

.tipo-ropa .boton{
    height: auto;
    width: 100%;
    margin: 0 0 5px 0;
    display: block;
    font-size: 20px;
    cursor: pointer;

}

.tipo-ropa .boton.active{
    background-color: aqua;
}

/* sección de tarjetas*/
.container-tarjeta {
    width: 100%;
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.tarjeta{
    
    max-width: 100%; /* 250 px*/
    height: auto;
    border: 1px solid rgb(241, 136, 241);
    border-radius: 5px;
    margin: 1em;
    /* overflow:hidden; */
    box-shadow: 10px 10px 20px rgba(241, 136, 241, 0.5);  
    background-color:rgb(190, 241, 241) ;
}

.tarjeta img {
  
    width: 100%;  /* 300px */
    height: 300px;
    object-fit:contain;
}
.tarjeta-texto  {
    width: 300px; /* Establece el ancho deseado para la tarjeta */
    overflow: hidden; /* Oculta el contenido que desborda */
    font-size: 1.5rem;
}
.tarjeta p{
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.5em;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Muestra puntos suspensivos al final del texto recortado */
}

.tarjeta:hover {
    transform: translateY(-5px);
    transition: 500ms;
    background-color: rgba(197, 95, 237, 0.5);
}

footer{
    margin-top: 10px;
    background-color: rgb(108, 183, 206);
    padding: 1em;
    
}

#footer_del_todo{
    background-color: rgb(194, 97, 97);
}

.gallery {
    border-radius: 15px;
}

.procutoInterno{
   
    position: fixed;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    min-width: 25em;
    max-width: 30em;
    height: 50em;
    min-height: 30em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    z-index: 1000;

    box-shadow: 0 12px 16px rgba(0, 0, 0,0.9);
}
.btn-exit {
    font-size: 7em;
    color: red;
    position: fixed;
    transform: translate(230%, -280%);
  }
  
  .btn-exit:hover{
      color: green;
  }

.imagen_product_interno{
    max-width: 82%;
}

#comprar{
    margin: 1em;
    font-size: 2em;
    background-color: green;
}

#añadir{
    margin: 1em;
    font-size: 2em; 
    background-color: rgb(226, 226, 0);
}


.procutoInterno {

    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 95%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    z-index: 1000;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.9);
    overflow: auto;
    /* Agrega desplazamiento si el contenido es más grande que el modal */
}

/* se un tamaño mínimo para el modal en pantallas grandes */
@media (max-width: 600px) {
    .procutoInterno {
        width: 81%;
        height: 90%;

    }

    .btn-exit {
        font-size: 1em;
    }

}

.boton_agragar_compara {
    font-size:1em;
    
}

.btn-exit {

    /* transform: translate(1.5em, -1.7em);  */
    font-size: 7em;
    /* Reducir el tamaño de la fuente */
    color: red;
    z-index: 1111;
    position: fixed;
    top: -25px;
    /* Agregar un poco de margen */
    right: 10px;
    /* Agregar un poco de margen */


}

.btn-exit:hover {
    color: green;
}


#agrupador {
    display: flex;
    align-items: center;
}

.imagen_product_interno {
    max-width: 50%;

}

#comprar {
    margin: 1em;
    font-size: 2em;
    background-color: green;
}

#añadir {
    margin: 1em;
    font-size: 2em;
    background-color: rgb(226, 226, 0);
}

#sacar{
    margin: 1em;
    font-size: 2em;
    background-color: rgb(226, 226, 0);

}

.titulo_de_productoSeleccionado{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}

#favorio, #compra{
    font-size: 3em;
}