<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/main.css"> <!-- estilo CSS de la propia pagina -->
    <script src="https://kit.fontawesome.com/8e58209530.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../Header_Footer JS/img_head-foot/codigourbano2.png" type="image/x-icon">
    <link rel="stylesheet" href="../Header_Footer JS/estilo-fot-head.CSS">
    <link rel="shortcut icon" href="../../img/codigourbano2.png" type="image/x-icon">
    <title>Ropa Deportiva - Codigo Urbano</title>
</head>

<body>

    <header>
    </header>
    
    <main>


        <h1 id="myID"></h1>


        <div id="app" v-cloak>
            <div id="pintado">
                <div id="main-prin_seleccionador_genero">
                    <a href="javascript:void(0)" onclick="activarBotonGeneros(this)" class="genero" @click="changeGender('Todo')">Todo</a>
                    <a href="javascript:void(0)" onclick="activarBotonGeneros(this)" class="genero" @click="changeGender('Niño')">Niño</a>
                    <a href="javascript:void(0)" onclick="activarBotonGeneros(this)" class="genero" @click="changeGender('Hombre')">Hombre</a>
                    <a href="javascript:void(0)" onclick="activarBotonGeneros(this)" class="genero" @click="changeGender('Mujer')">Mujer</a>
                </div>
        
                <div id="searchs">
                    <input placeholder="Buscar..." type="text" class="form-control" id="search"
                        v-model="searchQuery"  @input="debouncedFetchData">
                </div>
            </div>
        
            <div class="grid">
                <div id="sidebar">
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" class="sidebar-link" @click="changeSubCategory('Curitas')">Curitas</button>
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" class="sidebar-link" @click="changeSubCategory('Anteojos')">Anteojos</button>
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" class="sidebar-link" @click="changeSubCategory('Gorra')">Gorra</button>
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" class="sidebar-link" @click="changeSubCategory('Mochilas')">Mochilas</button>
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" class="sidebar-link" @click="changeSubCategory('Relojes')">Relojes</button>
                    <button href="javascript:void(0)" onclick="cambiarColor(this)" id="unico" class="sidebar-link" @click="changeSubCategory('Bolso')">Bolso</button>
                </div>
        
                <div class="contenedor_de_productos">
                    <div v-if="noProducts" class="no-products-message">
                        <p>No se encontraron productos que coincidan con los criterios de búsqueda.</p>
                    </div>
                    <div class="producto" v-for="product in products" style="width: 18rem;">
                        <a href="javascript:void(0)" class="heart" :class="{ 'red': isFavorite(product) }" @click="toggleColor(product)">&hearts;</a>
                        <div @click="showModal(product)"> <!-- Nuevo div para el contenido clickeable -->
                            <img :src="product.imagen || '../../img/product-default.png'" @error="handleImageError($event)" class="imagen_product" :alt="product.nombre">
                            <div class="card-body">
                                <h5 class="card-title">{{product.nombre}}</h5>
                                <p class="card-text">Precio: ${{ product.precio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <transition name="fade">

                   
                    <dialog id="modal" class="productoInterno" v-show="isModalOpen">
                        <img class="imagen_product_interno" v-if="selectedProduct" :src="selectedProduct.imagen || '../../img/product-default.png'" @error="handleImageError($event)" alt="">
                       
                        <a href="javascript:void(0)" @click="closeModal" class="eliminar_fav_Y_produc">X</a>
                        <h2 v-if="selectedProduct">{{selectedProduct.nombre}}</h2>
                        <div class="descripcion_de_producots">
                            <p v-if="selectedProduct">Precio: ${{ selectedProduct.precio }}</p>
                            <p v-if="selectedProduct">Stock: {{selectedProduct.stock}}</p>
                            <p v-if="selectedProduct">Descripción: {{selectedProduct.descricion}}</p>
                            <p v-if="selectedProduct">Marca: {{selectedProduct.marca}}</p>
                        </div>
                        <hr>
                        <div class="cantidad-selector">
                            <label for="cantidad">Cantidad a Comprar:</label>
                            <input width="70px" type="number" id="cantidad" v-model.number="cantidadSeleccionada" min="1" :max="selectedProduct ? selectedProduct.stock : 1" v-modal="cantidad_producto">
                        </div>
                        <div class="boton_agragar_compara">
                            <button class="boton_agragar_compara" id="compra" @click="comprar" :disabled="!cantidad || cantidad > (selectedProduct ? selectedProduct.stock : 0)">Comprar</button>
                            <button class="boton_agragar_compara" :class="{ 'boton-anadir': !isInCompras(selectedProduct), 'boton-sacar': isInCompras(selectedProduct) }"@click="toggleCompras(selectedProduct, cantidadSeleccionada)" id="añadir">
                                {{ isInCompras(selectedProduct) ? 'Actualizar carrito' : 'Añadir carrito' }}
                            </button>
                        </div>
                    </dialog>
                </transition>
                
            </div>

                    <!-- contenedor de favoritos -->
                    <div id="contenedor_botones_producto">
                        <h3 id="favorio">Favoritos</h3>
                      </div>
                      <div class="contenedor_de_productos_y_favoritos">
                        <div v-for="product in favorites[getCurrentUserId()] || []" :key="product.id" class="producto">
                            <button class="eliminar_fav_Y_produc" @click="toggleFavorite(product)" :class="{ 'favorite': isFavorite(product) }">X</button>
                            <img class="imagen_product" :src="product.imagen || '../../img/product-default.png'" @error="handleImageError($event)" :alt="product.nombre">
                            <h5>{{ product.nombre }}</h5>
                            <p>Precio: ${{ product.precio }}</p>
                        </div>
                    </div>

                
                <!-- contenedor del carrito -->  
                <div id="contenedor_botones_producto">
                    <h3 id="titulo_carrito">Carrito</h3>
                    <p id="contador_precio" style="color: rgb(247, 247, 247);">Total: ${{ totalPrice() }}</p>
                    <button id="compra_producto" class="boton_agragar_compara" @click="realizarPedido">Realizar Compra</button>
                </div>
                
                <div class="contenedor_de_productos_y_favoritos" >
                    <div v-for="(product, index) in compras" :key="product.id" class="producto">
                        <button class="eliminar_fav_Y_produc" @click="removeFromCompras(product)">X</button>
                        <img class="imagen_product" :src="product.imagen || '../../img/product-default.png'" @error="handleImageError($event)" :alt="product.nombre">
                        <h5>{{ product.nombre }}</h5>
                        <p>Precio: ${{ product.precio }}</p>
                        <div class="cantidad-selector">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" v-model.number="product.cantidad" min="1" :max="product.stock">
                        </div>
                    </div>
                </div>
        </div>



    </main>


    <footer>

    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../Header_Footer JS/MAIN.JS"></script>
    <script src="../Header_Footer JS/Menu.js"></script>
    <script src="Logica API/main.js"></script>
</body>

</html>